<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería Martin´s</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/Martín_Menargues_trabajofinalJS/css/styles.css">
    <script src="/Martín_Menargues_trabajofinalJS/js/galería.js"></script>
</head>

<header>
    <a href="/Martín_Menargues_trabajofinalJS/views/index.html">MARTIN´S RENTING</a>
</header>

    <div class="gallery-container">

        <button id="prevBtn" class="nav-btn"> ← </button>

        <div class="gallery">
            <img id="currentImage" src="/Martín_Menargues_trabajofinalJS/images/foto1.jpeg" alt="Imagen actual">
        </div>

        <button id="nextBtn" class="nav-btn"> → </button>
    </div>

    <div id="cuadro-tx">
        <p>Galería de Martín´s Renting</p>
    </div>

    <footer>
        <p>&copy; 2024 Martin´s Renting</p>
      </footer>
    </body>
</html>